

// contient le style a afficher pour le format tablet et desktop

body{
  // affiche le bandeau du profiler de symfony en bleu sombre
  .sf-toolbarreset{
    background-color: #0b2257;
  }

  div.back{
    margin:20px;
    padding:5px;
    background-color:chartreuse;
  }

  div.aa{
    margin: auto;
    margin-right: 20px;
    margin-left: 20px;
  }

  h3.description{
    background-color: chartreuse;
    text-align: justify;
    text-align: center;
    visibility: hidden;
  }

  h1{
    text-align: center;
  }

}

