{% extends 'base.html.twig' %}

{% block title %}Hello ThesisController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1>Liste des thèses tendances</h1>

        <h6 class="mt-0">
            <a href="/thesis/thesis.html.twig">----Clique-Ici---- </a>
        </h6>
</div>
{% endblock %}
